<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
	<span class="sr-only">Open sidebar</span>
	<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
		<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
	</svg>
</button>

<aside id="separator-sidebar" class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width" aria-label="Sidebar">
	<div class="h-full px-3 py-4 overflow-y-auto border-x-2 border-gray-200 bg-white dark:bg-gray-800">
		{% if (app.user) %}
			<ul class="space-y-2 font-medium">
				<li>
					<a href="{{ path('app_admin_dashboard') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<i class="bi-pie-chart-fill flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="ms-3">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_clients_index') }}" class="flex align-center items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<i class="bi-people-fill flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">Clients</span>
						{# <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> #}
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_invoices_index') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<i class="bi bi-file-earmark-spreadsheet flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">Factures</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_alerts_index') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<i class="bi bi-info-square-fill flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">Alertes</span>
					</a>
				</li>
			</ul>
			<ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
				<li>
					<a href="{{ path('app_admin_logout') }}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
						<i class="bi bi-box-arrow-in-left flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="ms-3">Logout</span>
					</a>
				</li>
			</ul>
		{% else %}
			<ul class="mt-4 space-y-2 font-medium ">
				<li>
					<a href="{{ path('app_admin_login') }}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
						<i class="bi bi-box-arrow-in-left flex-shrink-0 text-gray-500 text-xl transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true"></i>
						<span class="ms-3">Login</span>
					</a>
				</li>
			</ul>
		{% endif %}

	</div>
</aside>
