{% extends 'base.html.twig' %}

{% block title %}Invoices index
{% endblock %}

{% block body %}
	<div data-controller="invoice" class="relative overflow-x-auto shadow-md sm:rounded-lg">
		<div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 p-4 bg-white dark:bg-gray-900">
			<table id="filter-table">
				<thead>
					<tr>
						<th>
							<span class="flex items-center">
								Id
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
						<th>
							<span class="flex items-center">
								Montant Total
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
						<th>
							<span class="flex items-center">
								Montant d'interet
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
						<th>
							<span class="flex items-center">
								Statut
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
						<th>
							<span class="flex items-center">
								Date de la Facture
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
						<th>
							<span class="flex items-center">
								Date d'échéance
								<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
								</svg>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for invoice in invoices %}
						<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
							<th scope="row" class="group flex justify-between px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
								<div>
									{{invoice.id}}
								</div>
								<div>
									<a data-action="click->invoice#openModalViewInvoice" data-id-invoice="{{invoice.id}}" class="btn-details-client transform translate-y-4 opacity-0 duration-300 ease-out group-hover:translate-y-0 transition-all group-hover:opacity-100 cursor-pointer flex w-7 h-7 items-center justify-center text-gray-600 rounded-md p-1 border border-zinc-400 hover:shadow hover:bg-zinc-50">
										<i class="bi bi-three-dots text-xl"></i>
									</a>
								</div>
							</th>
							<td class="px-6 py-4">
								{{invoice.totalAmount}}
							</td>
							<td class="px-6 py-4">
								{{ invoice.interestAmount }}
							</td>
							<td class="px-6 py-4">
								{{ invoice.status }}
							</td>
							<td class="px-6 py-4">
								{{ invoice.invoiceDate ? invoice.invoiceDate|date('Y-m-d H:i:s') : '' }}
							</td>
							<td class="px-6 py-4">
								{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d H:i:s') : '' }}
							</td>
						</tr>
					{% else %}
						<tr class="bg-white border-b w-full p-4 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

							<div class="w-full">Aucune facture<div>
								{% endfor %}
							</tr>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
	{{ include('admin/invoices/_modalShow.html.twig') }}
{% endblock %}
